.custom-rule-hr-detail{
   
    height: 2px;
    padding: 0;
    margin-top: -1px;
    width: 75%;
    margin-left: 12.5%;
  }
  .section-top{
      margin-top: 6rem;
  }
  .Portfolio-logo-detail {
    /* height: 50vmin; */
    width: 50vmin;
    pointer-events: none;
    /* margin-top: 25vmin; */

  }
  .experience-div{
    border-left: 3px solid #0dcaf0!important;
  }
  .skills-div{
    border-left: 3px solid #ffc107!important;
  }
  .nav-link.active{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb),var(--bs-text-opacity))!important;
  }
  .project-div{
    border-left: 3px solid #0dcaf0!important;
  }
  .project-div:hover{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
  }
  .project-div:hover .card-text{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
  }
  .project-div:hover .card-footer{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
  }
  .header-bottom-border{
    border-radius: 1px;
    height: 4px;
    margin-top: -0.6rem;
    width: 2rem;
  }